version: '3.3'
#jinja2: lstrip_blocks: “True”

services:

    front:
        image: ommzzz/projects:movie-swiper-front-{{ commit_hash }}

        container_name: MS-front

        restart: always

        ports:
          - "3000:3000"

        environment:
          REACT_APP_API_URL: http://{{ deploy_host_domain }}
          REACT_APP_FRONT_URL: http://{{ deploy_host_domain }}


    back:
        image: ommzzz/projects:movie-swiper-back-{{ commit_hash }}
        container_name: MS-back

        restart: always

        ports:
          - "5000:80"

        environment:
          ## Flask configs
          FLASK_APP: app.py
          FLASK_ENV: 'development'

          ## Useful variables
          SERVER_NAME: {{ deploy_host_domain }}
          FRONT_NAME: {{ deploy_host_domain }}

        command: ['python3', '/app/app.py']

    redis:
        image: bitnami/redis:latest

        container_name: MS-redis

        restart: always

        ports:
          - "6379:6379"

        command: /opt/bitnami/scripts/redis/run.sh --maxmemory 100mb
