
.card {
    position: relative;
    width: 350px;
    padding: 20px;
    max-width: 85vw;
    height: 55vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    border: solid;
    border-width: thin;
}

.swipe {
    position: absolute;
}

.card > h3 {
    position: absolute;
    bottom: 10px;
    /* color: whitesmoke; */
    color: black;
    background-color: white;
}

.bottom {
    margin: 20px;
    /* display: flex; */
    position: fixed;
    bottom: 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}

.movie {
    height: 120px;
    /* display: flex; */
    max-width: 380px;
    text-align: center;
    margin: 0 30px;
    padding: 5px;
    background-color: rgba(25, 5, 68, 0.659);
    border-radius: 5px;
    color: white;
}

.buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    /* bottom: 0; */
}
  
.buttons button {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #000102;
    transition: 200ms;
    margin: 0 10px;
    font-weight: bolder;
    width: 160px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  }
  
/* .buttons button:hover {
    transform: scale(1.05);
  } */