.card {
    position: relative;
    width: 350px;
    max-width: 85vw;
    height: 55vh;
    border-radius: 20px;
    border: solid;
    border-width: thin;
}

.picture {
    /* position: relative; */
    width: 350px;
    max-width: 85vw;
    height: 70%;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
}

.swipe {
    position: absolute;
    margin-top: 10px;
}

.card > .info {
    display: grid;
    grid-template-rows: 40% 60%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    border: solid;
    border-width: thin;
}

.card > .info > h4 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 5px 0 0 10px;
    color: black;
}

.card > .info > h5 {
    align-items: flex-end;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 5px 10px 0 0;
    color: black;
}

.card > .info > p {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: small;
    margin: 10px 10px 0 10px;
    color: black;
}

.bottom {
    margin: 20px;
    /* display: flex; */
    position: fixed;
    bottom: 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}

.movie {
    height: 120px;
    /* display: flex; */
    max-width: 380px;
    text-align: center;
    margin: 0 30px;
    padding: 5px;
    background-color: rgba(25, 5, 68, 0.659);
    border-radius: 5px;
    color: white;
}

.buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    /* bottom: 0; */
}
  
.buttons button {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #000102;
    transition: 200ms;
    margin: 0 10px;
    font-weight: bolder;
    width: 160px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  }
  
/* .buttons button:hover {
    transform: scale(1.05);
  } */