version: '3.3'

services:
    front:
        image: ommzzz/dshmelev:fitness-front-ef655c79
        ports:
        - "80:3000"

    back:
        image: ommzzz/dshmelev:fitness-back-{{ commit_hash }}
        ports:
        - "5000:80"
